.btn-square {
  width: 90px !important;
  /* max-width: 100% !important; */
  /* max-height: 100% !important; */
  height: 90px !important;
  font-size: 30px;
  /* text-align: center; */
  /* padding: 0px; */
  /* font-size: 12px; */
}

.fixed {
  max-width: 150px;
  /* max-width: 80%; */
  /* max-width: 80vw; */
  /* min-width: 80%; */
}