.btn-square {
  width: 80px !important;
  /* max-width: 100% !important; */
  /* max-height: 100% !important; */
  height: 80px !important;
  font-size: 30px;
  /* text-align: center; */
  /* padding: 0px; */
  /* font-size: 12px; */
}

.settings {
  max-width: 600px;
}

.exercise {
  font-size: 50px;
}

.fixed {
  max-width: 100px;

  /* max-width: 80%; */
  /* max-width: 80vw; */
  /* min-width: 80%; */
}

.icon {
  font-size: 30px;
  text-align: center;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.gear {
  color: orange;
}